<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- required meta tags -->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, intitial-scale=1, shrink-to-fit=no">
         <title>Flask Stock Portfolio App</title>

         <link rel="stylesheet" href="{{ url_for('static' , filename='css/base_style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.jpg')}}" type="image/x-icon">

         <!--Additional styles-->
        {% block styling %}
        {% endblock %}
     </head>

    <body>
        <header class="site-header">
            <nav class="nav">
                <a class="nav-link logo" href="{{ url_for('index') }}"> Flask Stock Portfolio App</a>
                <ul class="nav-list">
                    <li class="nav-list"><a class="nav-link" href="{{ url_for('list_stocks') }}">List Stocks</a></li>
                    <li class="nav-list"><a class="nav-link" href="{{ url_for('add_stock') }}">Add Stock</a></li>
                </ul>
            </nav>
        </header>

        <main class="content">
            <!-- child template-->
             {% block content %}
             {% endblock %}
        </main>

     <footer class="site-footer">
        <small>Your site name 2025</small>
    </footer>   
    </body>
</html>